@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logoimg {
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 28px 252px 0px 252px;
}

nav>:nth-child(2) {
    display: flex;
    flex-direction: row;
}

.btn {
    background-color: transparent;
    color: white;
    border: transparent;
    margin-left: 34px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.btn:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
}

.one {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 3.20rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 186px;
}

.searchbar {

    width: 76.3125rem;
    height: 3.9375rem;
    border-radius: 2.6875rem;
    border: 3px solid #ADFF00;
    margin-left: 142.3px;
    background: rgba(173, 255, 0, 0.00);
}

.siipdroo {
    display: flex;
    align-items: center;

}

.searchpng {
    margin: 16px;
    fill: rgb(255, 255, 255);
    cursor: pointer;
}

.inputbar {
    padding: 11px;
    margin-left: -1px;
    margin-bottom: 8px;
    padding-right: 596px;
    background-color: transparent;
    border: transparent;
    font-size: 25px;
    outline: none;
    color: white;
}

.examp {
    opacity: 33%;
    margin-top: 5px;
    margin-left: 221px;
}

.examp:hover {
    transition-duration: .7s;
    opacity: 75%;
}

.fields {
    display: flex;
    flex-direction: row;
}

.dropdwn {
    text-align: center;
    font-size: 21px;
    border-radius: 55px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #adff00;
    padding: 14px 37px;
    margin: -6px 0px 2px 116px;
    border: none;
}

.dropdwn:hover {
    transition-duration: .3s;
    cursor: pointer;
    padding: 16px 60px 9px 60px;
    margin: -6px 0px 2px 69px;
    background-color: #9be300;
}

.datas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 258px;
    margin-right: 258px;
    margin-top: 100px;

}

.box {

    width: 33%;
}

.mouceicon {
    margin-top: 96px;
    width: 20.875px;
    height: 36px;
    position: sticky;
    left: 750px;
}

.searchanything {
    margin: 102px 0px 90px 133px;
    width: 82vw;
    height: 40.39406vh;
    border-radius: 1.8125rem;
    border: 1px solid #FFF;
    opacity: 0.75;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) -30.31%, rgba(190, 190, 190, 0.10) 81.29%);
    mix-blend-mode: screen;
    box-shadow: 0px 5px 12.9px 0px rgba(255, 252, 252, 0.26);
    backdrop-filter: blur(134px);
}

.layer1 {
    display: flex;
    flex-direction: row;
}

.icn {
    margin: 53px;
}

.text {
    margin: 59px 46px 0px 0px;
}

.faq {
    margin-top: 114px;
    text-align: center;
    text-align: center;
    text-decoration: underline;
    font-size: 23px;
}

.fq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 47px;
}

.Card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 4px;
    border-radius: 1.3rem;
    height: 63px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) -30.31%, rgba(255, 255, 255, 0.10) 81.29%);
    width: 54rem;
}

.num {
    padding: 6px 0 0 14px;
    font-size: 35px;
}

.maintext {
    color: #ADFF00;
}

.fq>:nth-child(1)>.maintext {
    padding-right: 34rem;
    padding-top: 18px;
    font-size: 19px;
}

.fq>:nth-child(2)>.maintext {
    padding-right: 36rem;
    padding-top: 18px;
    font-size: 19px;
}

.fq>:nth-child(3)>.maintext {
    padding-right: 36rem;
    padding-top: 18px;
    font-size: 19px;
}

.fq>:nth-child(4)>.maintext {
    padding-right: 38rem;
    padding-top: 18px;
    font-size: 19px;
}

.fq>:nth-child(5)>.maintext {
    padding-right: 36rem;
    padding-top: 18px;
    font-size: 19px;
}

.fq>:nth-child(6)>.maintext {
    padding-right: 32rem;
    padding-top: 18px;
    font-size: 19px;
}

.plus {
    font-size: 45px;
    padding-right: 10px;
}

.line {
    height: 3px;
    width: 219px;
    border-radius: 50px;
    margin: 60px 23px 51px 674px;
    background-color: rgba(255, 255, 255, 0.54);
}

.databaseinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 448px 1px 507px;
}

.firstpart {
    padding-right: 44px;
}

.secondline {
    height: 3px;
    width: 0px 219px 0px 219px;
    border-radius: 50px;
    margin: 60px 0 51px 0px;
    background-color: rgba(255, 255, 255, 0.54);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.footer>:nth-child(2) {
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.socialmediaicon>div>i {
    font-size: 2rem;
    padding: 0 0.6rem;
}

/* borders

.navbar {
    border: 2px solid red;
}

.one {
    border: 2px solid red;
}

.datas {
    border: 2px solid red;
}

.mouceicon {
    border: 2px solid red;
}

.searchanything {
    border: 2px solid red;
}

.faq {
    border: 2px solid red;
}

.fq {
    border: 2px solid red;

}

.databaseinfo {
    border: 2px solid red;
}  */